<!-- start custom analytics snippet -->
<script type="text/javascript">
var sc_project=12973134; 
var sc_invisible=1; 
var sc_security="48e17331"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="shopify stats"
href="http://statcounter.com/shopify/" target="_blank"><img
class="statcounter"
src="//c.statcounter.com/12973134/0/48e17331/1/"
alt="shopify stats"></a></div></noscript>
<!-- end custom analytics snippet -->
